{% extends "blog/base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags blogapp_tags el_pagination_tags wagtailmd %}

{% block content %}

    {% if blog_page.search_term and posts %}
        <header class="page-header">
            <h2 class="page-title">{% trans 'Search results for' %}<span> '{{ blog_page.search_term }}' :</span></h2>
        </header>
    {% elif blog_page.search_term and not posts%}
        <header class="page-header">
            <h2 class="page-title">
                {% blocktrans with query=blog_page.search_term %}Search results for '{{ query }}' were not found.{% endblocktrans %}
            </h2>
            <img src="../../../media/images/nothing_found.png" class="card-img-top" alt=""/>
        </header>
    {% endif %}

    {% paginate 5 posts %}
    {% for post in posts %}
        <!-- Blog Post -->
        <div class="card mb-4">

            {% if post.header_image %}
                {% image post.header_image original as header_image %}
                <a href="{% post_slug_url post blog_page %}">
                    <img src="{{ header_image.url }}" class="card-img-top"></img>
                </a>
            {% endif %}

            <div class="card-body">
                <h2 class="card-title">
                    <a href="{% post_slug_url post blog_page %}">{{ post.title }}</a>
                </h2>
                <p class="card-text">
                    {% if post.excerpt %}
                        {{ post.excerpt|markdown|safe }}
                    {% else %}
                        {{ post.body|markdown|safe|truncatewords_html:70 }}
                    {% endif %}
                </p>
                <a href="{% post_slug_url post blog_page %}" class="btn btn-primary">{% trans 'Read More' %} &rarr;</a>

            </div>
            <div class="card-footer text-muted">
                {% trans 'Posted on' %} {{ post.date }}
            </div>
        </div>

    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        {% show_pages %}
    </ul>

{% endblock %}